/*
Link to Import Fonts
Fonts are:
  Merriweather and Open Sans */
	@font-face{
		font-family: 'Merriweather';
		src: url('/Merriweather/Merriweather-Regular.ttf') format('truetype');
	}
	@font-face{
		font-family: 'Open Sans';
		src: url('/Open_Sans/OpenSans-Regular.ttf') format('truetype');
	}

	body{
		text-align: center;
        font-family: 'Merriweather', serif;
        height: 340px;
        width: 240px;
        /* border: 1px red solid; */
        padding: 30px;
				text-align: left;
      }

	a{
		color: black;
		font-size: 12pt;
	}

	#cancel{
		margin-bottom: 10px;
	}

      .title{
        font-size: 19pt;
				/* border: 1px red solid; */
				margin-top: 30px;
      }

			#welcomeGuppy{
				position: absolute;
				/* background-image: url('Guppy.png'); */
				height: 200px;
				z-index: -1;
				-webkit-transform: scaleX(-1);
    		transform: scaleX(-1);
				top: -55px;
				left: -60px;

			}

      .subtitle{
      	text-align: left;
        font-size: 14pt;
      }

      form{
        border:none;
        margin-top: 40px;
      }

      .textIn{
        font-family: 'Open Sans', sans-serif;
        font-size: 12pt;
        color: grey;
        width: 190px;
        height: 40px;
        border-radius: 5px;
        border: 1px grey solid;
        margin-bottom: 10px;
        padding-left: 10px
      }

      .emailInput{
        font-family: 'Open Sans', sans-serif;
        font-size: 12pt;
        color: grey;
        width: 180px;
        height: 100px;
        border-radius: 5px;
        border: 1px grey solid;
        margin-bottom: 10px;
        padding-left: 10px
      }

      .submit{
        font-family: 'Merriweather', serif;
        border: black 1px solid;
        border-radius: 5px;
        font-size: 16px;
        width: 200px;
        height: 40px;
        margin-top: 10px;
      }

			.submit:hover{
				color: white;
				background-color: black;
				transition: 0.3s;
			}

			.switchIntro{
				font-family: 'Merriweather', serif;
				font-size: 11pt;
			}

      .button {
      	text-align: middle;
      	vertical-align: middle;
      	font-family: 'Open Sans', sans-serif;
        border: black 1px solid;
        border-radius: 5px;
        font-size: 20px;
        width: 200px;
        height: 40px;
      }
      span {
  		display: inline-block;
  		vertical-align: middle;
  		line-height: normal;
				}

			#joinGuppy{
				position: absolute;
				/* background-image: url('Guppy.png'); */
				height: 150px;
				z-index: -1;
				top: -10px;
				right: -30px;

			}

			.inGuppy{
				position: absolute;
				-webkit-transform: scaleX(-1);
    		transform: scaleX(-1);
				/* background-image: url('Guppy.png'); */
				height: 130px;
				z-index: -1;
				top: -20px;
				left: -40px;

			}

			.groupBox{
				margin-top: 20px;


			}
